﻿body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: red;
    font-weight: bold;
}

/*Bootstrp overrides*/

.navbar-inverse {
    background-color: red;
    border-color: red;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #ea1c1c94;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.dropdown-menu {
    -webkit-box-shadow:none;
    box-shadow: none;
}

.tooltip {    
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;   
}

.popover {
    
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

body {
    font-size: 17px;
    font-family: Lato,"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 17px;
    padding: 20px 17px;
    border-radius: 9px;
}

.form-control:focus {
    border-color: #2196F3;
    outline: 0;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6); */
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6); */
}

.btn {
    /*padding: 7px 35px;
    font-size: 17px;*/
    border-radius: 6px;
}


/*Page styles - Level styles*/

.gigcarls {
    list-style:none;
}

.gigcarls > li .date {
    background:red;
    color: white;
    text-align:center;
    width:60px;
    border-radius: 8px;
}

.gigcarls > li .date .month {
    text-transform:uppercase;
    font-size:14px;
    font-weight:bold;
    padding: 2px 6px;
}

.gigcarls > li .date .day {
        background: #f7f7f7;
        color:#333;
        font-size: 20px;
        padding: 6px 12px;
}

.gigcarls > li {
        position: relative;
        margin-bottom: 30px;
}

.gigcarls > li .details {
        position: absolute;
        top: 0;
        left: 70px;
}

.gigcarls > li .details .artist {
     font-weight: bold;
     display:block;
}

.gigcarls > li .details .genre {
        font-size: 15px;
        
}