﻿@model IEnumerable<GigHub.Models.Gig>
@{
    ViewBag.Title = "Home Page";
}



<ul class="gigcarls">
    @foreach (var gig in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @gig.Artist.Name
                </span>
                <span class="genre">
                    @gig.Genre.Name
                </span>
                <button data-gig-id="@gig.Id" class="btn btn-default btn-sm js-toggle-attendance">Going?</button>
            </div>
        </li>
    }
</ul>
@section scripts 
    {
       <script>
           $(document).ready(function() {
               $(".js - toggle - attendance").click(function (e) {
                   var button = $(e.target);
                   $.post("/api/attandances", {gigId: button.attr("data-gig-id")})
                       .done(function () {
                           button
                               .removeClass("btn-default")
                               .addClass("btn-Info")
                               .text("Going..");
                       })
                       .fail(function () {
                           alert("Something failed!!")
                       });
               });
           });
       </script>
    }
    
    

